navbarlogo {
  height: 30px;
}

.select-box{
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  width:200px;
  height: 30px;
  margin-top: -200px;
  border-radius: 1px;
}
#extended-nav{
  margin-top: -100px;
}
.nav-image{
  margin-left: 300px;
  height: 30;
  width: 30;
}
.menu-navbar{
position: absolute;
  margin-left: 300px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}
.menu-navbar1{
position: absolute;
  margin-left: 500px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.menu-navbar2{
position: absolute;
  margin-left: 700px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}
.menu-navbar3{
position: absolute;
  margin-left: 900px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}
.menu-navbar4{
position: absolute;
  margin-left: 1100px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}
.menu-navbar5{
  position: absolute;
  margin-left: 1300px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}
